In [3]:
import pandas as pd
df = pd.read_csv('kc_house_data.csv')

In [8]:
df.head(5)

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,20141013T000000,221900.0,3,1.00,1180,5650,1.0,0,0,...,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
1,6414100192,20141209T000000,538000.0,3,2.25,2570,7242,2.0,0,0,...,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639
2,5631500400,20150225T000000,180000.0,2,1.00,770,10000,1.0,0,0,...,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062
3,2487200875,20141209T000000,604000.0,4,3.00,1960,5000,1.0,0,0,...,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000
4,1954400510,20150218T000000,510000.0,3,2.00,1680,8080,1.0,0,0,...,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503

In [27]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21613 entries, 0 to 21612
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             21613 non-null  int64
 1   date           21613 non-null  object
 2   price          21613 non-null  float64
 3   bedrooms       21613 non-null  int64
 4   bathrooms      21613 non-null  float64
 5   sqft_living    21613 non-null  int64
 6   sqft_lot       21613 non-null  int64
 7   floors         21613 non-null  float64
 8   waterfront     21613 non-null  int64
 9   view           21613 non-null  int64
 10  condition      21613 non-null  int64
 11  grade          21613 non-null  int64
 12  sqft_above     21613 non-null  int64
 13  sqft_basement  21613 non-null  int64
 14  yr_built       21613 non-null  int64
 15  yr_renovated   21613 non-null  int64
 16  zipcode        21613 non-null  int64
 17  lat            21613 non-null  float64
 18  long           21613 non-null  float64
 19  sqft_living15  21613 non-null  int64
 20  sqft_lot15     21613 non-null  int64
dtypes: float64(5), int64(15), object(1)
memory usage: 3.5+ MB

In [35]:
df.describe(include =[object])

                   date
count             21613
unique              372
top     20140623T000000
freq                142

**Условие 3: 3 задача
Ответьте на несколько вопросов
3.1 В каком диапазоне изменяются стоимости недвижимости?
3.2 Какую долю в среднем занимают жилая площадь от всей площади по всем домам?
3.3 Как много домов с разными этажами в данных?
3.4 Насколько хорошие состояния у домов в данных?
3.5 Найдите года, когда построили первый дом, когда построили последний дом в данных?`

In [34]:
df.sort_values('price').loc[[1149,7252],["price"]]

          price
1149    75000.0
7252  7700000.0

In [47]:
S = df["sqft_living" ].mean()
Dola = S/100
def toFixed(numObj, digits=0):
    return f"{numObj:.{digits}f}"
toFixed(Dola,2)
print(f'Средняя площадь: {toFixed(Dola,2)}')

Средняя площадь: 20.80

In [111]:
df[df.floors > 1].shape[0]

10680

In [70]:
df.grade.mean()

7.656873178179799

In [100]:
df.sort_values(['yr_built','id'],ascending=True)

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
16734,357000005,20141222T000000,500000.0,4,2.00,1680,3813,2.0,0,0,...,7,1680,0,1900,0,98144,47.5930,-122.293,2540,3996
15762,452001310,20140825T000000,500000.0,2,1.00,960,5000,1.0,0,0,...,7,960,0,1900,0,98107,47.6755,-122.367,1330,5000
18916,452001540,20140818T000000,554600.0,3,1.75,1470,5000,1.5,0,0,...,7,1470,0,1900,0,98107,47.6755,-122.369,1530,5000
10985,452001890,20150415T000000,730000.0,3,1.75,1650,5000,1.5,0,0,...,8,1650,0,1900,0,98107,47.6743,-122.371,1630,5000
6671,475001235,20140808T000000,870000.0,5,4.00,3400,5000,2.0,0,0,...,8,2320,1080,1900,0,98107,47.6655,-122.363,1910,5000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19805,9126100765,20140801T000000,455000.0,3,1.75,1320,1014,3.0,0,0,...,9,1320,0,2015,0,98122,47.6047,-122.305,1380,1495
19722,9161100075,20150318T000000,673000.0,4,2.25,2580,2875,2.0,0,0,...,9,2580,0,2015,0,98116,47.5674,-122.392,1290,5750
20770,9310300160,20140828T000000,357000.0,5,2.50,2990,9240,2.0,0,0,...,8,2990,0,2015,0,98133,47.7384,-122.348,1970,18110
643,9385200045,20150512T000000,729500.0,3,2.50,1660,1091,3.0,0,1,...,9,1530,130,2015,0,98116,47.5818,-122.402,1510,1352
7526,9520900210,20141231T000000,614285.0,5,2.75,2730,6401,2.0,0,0,...,8,2730,0,2015,0,98072,47.7685,-122.160,2520,6126

Условие 4: 4 задача
Ответьте на несколько вопросов

4.1 Сколько в среднем стоят дома, у которых 2 спальни?
4.2 Какая в среднем общая площадь домов, у которых стоимость больше 600 000?
4.3 Как много домов коснулся ремонт?
4.4 Насколько в среднем стоимость домов с оценкой grade домов выше 10 отличается от стоимости домов с оценкой grade меньше 4?

In [87]:
df[(df.bedrooms == 2)].price.mean()

401372.681884058

In [112]:
df[df.price > 600000].sqft_lot.mean()

20442.524776214832

In [118]:
df[(df["yr_renovated"] != 0)].shape[0]

0

In [109]:
gradebig = df[df.grade > 10].price.mean()
grademin = df[df.grade < 4].price.mean()
print(gradebig - grademin )

1488885.1175298805

Условие 5: 5 задача
Ответьте на несколько вопросов
5.1 Выберите дом клиенту
Клиент хочет дом с видом на набережную, как минимум с тремя ванными и с подвалом. Сколько вариантов есть у клиента?
5.2 Выберите дом клиенту
Клиент хочет дом либо с очень красивым видом из окна, либо с видом на набережную, в очень хорошем состоянии и год постройки не меньше 1980 года. В какой ценовом диапазоне будут дома?
5.3 Выберите дом клиенту
Клиент хочет дом без подвала, с двумя этажами, стоимостью до 150000. Какая оценка по состоянию у таких домов в среднем?

In [121]:
df[(df.waterfront == 1) & ((df.bathrooms >=3) & (df.sqft_basement !=0))].shape[0]

41

In [135]:
df[((df.view == 1 )|(df.waterfront == 1)) & ((df.grade > 5) & (df.yr_built >=1980))].shape[0]

134

In [142]:
df[((df.sqft_basement == 0) & (df.floors == 2)) & (df.price < 150000)].condition.mean()

2.8333333333333335

id                    3980300371
date             20140926T000000
price                   142000.0
bedrooms                       0
bathrooms                    0.0
sqft_living                  290
sqft_lot                   20875
floors                       1.0
waterfront                     0
view                           0
condition                      1
grade                          1
sqft_above                   290
sqft_basement                  0
yr_built                    1963
yr_renovated                   0
zipcode                    98024
lat                      47.5308
long                    -121.888
sqft_living15               1620
sqft_lot15                 22850
Name: 19452, dtype: object